In [ ]:
SELECT
    ((tot_sum - (amt_sum * act_sum / _count)) / sqrt((amt_sum_sq - pow(amt_sum, 2.0) / _count) * (act_sum_sq - pow(act_sum, 2.0) / _count))) AS "Corr Coef Using Pearson"


FROM(
SELECT
    sum("Amount") AS amt_sum,
    sum("Activities") AS act_sum,
    sum("Amount" * "Amount") AS amt_sum_sq,
    sum("Activities" * "Activities") AS act_sum_sq,
    sum("Amount" * "Activities") AS tot_sum,
    count(*) as _count

FROM(
SELECT
    DATE_TRUNC('day', p.payment_date)::DATE AS "Day",
    SUM(p.amount) AS "Amount",
    COUNT(DISTINCT a.activity_id) AS "Activities"
FROM
    public.payments p
    INNER JOIN public.subscriptions s ON p.subscription_id = s.subscription_id
    INNER JOIN public.users u ON s.user_id = u.user_id
    INNER JOIN public.activity a ON a.user_id = u.user_id

GROUP BY 1) as a

) as b

GROUP BY tot_sum, amt_sum, act_sum, _count, amt_sum_sq, act_sum_sq

## Correlation coefficient
### cscalls

In [ ]:
query_and_display("""
SELECT (Avg(churn_binary * number_customer_service_calls  ) - (Avg(churn_binary) * Avg(number_customer_service_calls ))) / (stddev(churn_binary) * stddev(number_customer_service_calls )) AS pearsonsr
FROM `nomadic-ocean-395807.churn_rate.customer_data`

"""

corr_avg_cscalls=query_and_display(sql)
print(corr_avg_cscalls)

   pearsonsr
0   0.221168

In [ ]:
query_and_display("""
SELECT 
churn,
    PERCENTILE_CONT(number_customer_service_calls, 0.5) OVER (PARTITION BY churn) AS median
FROM `nomadic-ocean-395807.churn_rate.customer_data`
GROUP BY number_customer_service_calls, churn
LIMIT 1
"""

cs_calls=query_and_display(sql)
print(cs_calls)

   churn  median
0   True     4.5

In [ ]:
query_and_display("""
SELECT (Avg(total_intl_charge * total_charges) - (Avg(total_intl_charge) * Avg(total_charges))) / (stddev(total_intl_charge) * stddev(total_charges)) AS pearsonsr
FROM `nomadic-ocean-395807.churn_rate.customer_data`

"""

corr_avg_cscalls1=query_and_display(sql)
print(corr_avg_cscalls1)

   pearsonsr
0   0.051679

In [ ]:
query_and_display("""
SELECT COVAR_POP(total_intl_charge, total_charges) as corr_coeff
FROM `nomadic-ocean-395807.churn_rate.customer_data`
"""

corr_cscalls=query_and_display(sql)
print(corr_cscalls)

   corr_coeff
0     0.39843

## Median
Voicemail etc.
Number of customer service calls

In [ ]:
query_and_display("""
SELECT PERCENTILE_DISC(number_vmail_messages,0.5) OVER() AS median
FROM
  `nomadic-ocean-395807.churn_rate.customer_data`
LIMIT
  1
"""

vmail_median=query_and_display(sql)
print(vmail_median)

   median
0       0

In [ ]:
query_and_display("""
SELECT PERCENTILE_DISC(number_customer_service_calls,0.5) OVER() AS median
FROM
  `nomadic-ocean-395807.churn_rate.customer_data`
LIMIT
  1
"""

vmail_cs_calls=query_and_display(sql)
print(vmail_cs_calls)

   median
0       1

In [ ]:
query_and_display("""
SELECT STDDEV(number_customer_service_calls), churn
FROM `nomadic-ocean-395807.churn_rate.customer_data`
GROUP BY churn

"""

cs_calls=query_and_display(sql)
print(cs_calls)

        f0_  churn
0  1.165159  False
1  1.827334   True